<form action="/" method="post">
{% csrf_token %}
<select name="player_one">
<option selected="selected" value=-1>Player One</option>
{% for player in player_list %}
<option value={{player.id}}>{{player.player_name}}</option>
{% endfor %}
</select>

<input name="player_one_score" type="text" value="0"></input>
<br>
<select name="player_two">
<option selected="selected" value="-1">Player Two</option>
{% for player in player_list %}
<option value={{player.id}}>{{player.player_name}}</option>
{% endfor %}
</select>

<input name="player_two_score" type="text" value="0"></input>
<br/>
<input type="submit" value="Submit" />

</form>